<ul id="search_bar" class="row">
  <li class="col-xs-3"><input type="input" class="name" name="name" value={{name}}></li>
  <li class="col-xs-3"><input type="input" data-type="datetime" name="datetime" value=""></li>
  <li class="col-xs-3" style="position: relative"><input type="input" id="city" class="city" name="city"></li>
  <li class="col-xs-3"><input type="button" class="search" name="search" value="搜索"></li>
</ul>
