<div id="search_bar">
  <input type="input" class="name" name="name" value={{name}}>
  <input type="input" data-type="datetime" name="datetime" value="">
  <input type="button" class="search" name="search" value="搜索">
</div>
