<ul id="search_bar">
  <li><input type="input" class="name" name="name" value={{name}}></li>
  <li><input type="input" data-type="datetime" name="datetime" value=""></li>
  <li><input type="input" class="city" name="city"></li>
  <li><input type="button" class="search" name="search" value="搜索"></li>
</ul>
